 /* GLOBAL */
:root {

}

 * {
  box-sizing: border-box;
}

/* GLOBAL FOCUS */
*:focus {
  outline: 2px dashed #7296ec;
  outline-offset: 3px;
  transition: 0.4s ease;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #4a4b4c;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

 /* CONTAINER */
 .container {
  width: 100%;
  max-width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* BUTTON */
.button {
  padding: 12px 38px;
  background-color: #ea625c;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  border: 0;
  transition: 0.5 ease;
}
.button:hover{
  opacity: 0.8;
  transition: 0.5 ease;
}
.button:active{
  opacity: 0.6;
}

/* LINEAR-LINK */
.linear-link {
  display: inline-flex;
  margin: 0;
  margin-top: 20px;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #ea625c;
  text-decoration: none;
}
.linear-link::before {
  width: 40px;
  height: 3px;
  content: "";
  margin-right: 10px;
  background-color: #ea625c;
  transition: 0.5 ease;
}
.linear-link:hover{
  opacity: 0.8;
  transition: 0.5 ease;
}
.linear-link:active{
  opacity: 0.6;
}



/* SITE-HEADER */
.site-header {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
.site-header-wrapper {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.site-header-logo {
 display: block;
 padding: 0;
 margin: 0;
 margin-right: auto;

}
.site-header-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-header-link {
  margin-right: 30px;
  font-style: normal;
  color: #333;
  text-decoration: none;
}
.site-header-link-last {
  font-style: normal;
  color: #333;
  text-decoration: none;
}
.site-header-input {
  padding: 0;
  margin-left: 40px;
  font-style: normal;
  font-size: 15px;
  line-height: 150%;
  border: none;
  border-bottom: 2px solid #333;
}

/* SITE HERO */
.site-hero {
  padding-top: 152px;
  border-bottom: 2px solid #ddd;
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-position: left calc(50% + 485px) bottom;
}
.main-content {
  width: 100%;
  max-width: 490px;
  padding-bottom: 185px;
  margin: 0;
}
.main-content-heading {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #000;
}
.main-content-text {
  padding: 0;
  margin: 0;
  padding-left: 40px;
  margin-bottom: 30px;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: #777;
  border-left: 3px solid #888;
}

/* SITE-FEATURE */
.site-feature {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-top: 70px;
  align-items: center;
}
.feature-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.feature-list:not(:last-child) {
  margin-right: 80px;
}
.feature-item {
  width: 280px;
  height: 240px;
}
.feature-heading {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: #222;
}
.feature-text {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #333;
}
.feature-hr {
  margin: 0;
  margin-top: 20px;
  width: 8px;
  height: 8px;
  border: 0;
  margin-left: 0;
  background-color: #ddd;
  box-shadow: 16px 000 #ddd, 32px 000 #ddd;
}
.feature-list-bottom-link {
  display: inline-block;
  text-transform: uppercase;
  color: #ea625c;
  text-decoration: none;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
 .site-hero {
  background-image: url("../img/hero-bg.png");
 }
}